* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

textarea {
    resize: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 58px;
    font-family: 'Geometr415 Blk BT', sans-serif;

    &__logo {
        margin-left: 152px;
        width: fit-content;
    }

    &__menu .list {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        font-size: 1.25rem;

        &__item {
            margin: 0 15px;
            color: #464646;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 0px 3px 6px #00000029;
            cursor: pointer;
            text-align: center;
        }
    }
}

.section {
    &__main-page {
        background-image: url('../images/home-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

    .main-page {
        &__description {
            position: absolute;
            bottom: 70px;
            right: 121px;
            color: #ffffff;
            font-family: 'Playfair Display', serif;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h2 {
                font-size: 3.5rem;
                font-weight: normal;
                text-shadow: 0px 3px 6px #00000080;
                width: 370px;
                line-height: 3.25rem;
            }
        }

        .description {
            &__text {
                width: 798px;
                text-align: right;
                margin-top: 31px;
                opacity: .8;
                font-weight: normal;
                line-height: 1.75rem;
            }
        }
    }

    &__chip-tuning {
        display: flex;
        margin: 0 300px 0 200px;
    }

    
    &__conversion {
        display: flex;
        margin: 200px 0 0 370px;
        position: relative;
    }

    &__offer {
        display: flex;
    }

    &__contact {
        background-color: #F5F5F5;
        padding: 0 0 0 370px;
        position: relative;
        top: -5px;
    }

    .chip-tuning__content {
        margin-left: 120px;

        h2 {
            line-height: 3.5rem;
        }
    }

    .conversion {
        &__title {
            line-height: 4rem;
        }

        &__description {
            margin: 10px 140px 0 0;
        }

        &__more-info {
            position: absolute;
            background-color: #FFCF00;
            padding: 100px 0;
            bottom: 0;
            width: 100%;

            button {
                background-color: white;
                padding: 15px 15px;
                width: fit-content;
                font-weight: bold;
                margin-left: 50px;
                cursor: pointer;
                border: none;
                color: black;
            }
        }

        &__image {
            z-index: 2;
            position: relative;
            bottom: -6px;
        }

        &__show-more-content {
            display: none;
            position: absolute;
            z-index: 2;
            bottom: -700px;
            left: -80px;
            width: 400px;
            background-color: white;
            padding: 10px 15px;
            border-radius: 5px;
            box-shadow: 0 0 4px black;
        }
    }

    &__more-cars {
        background-color: #0D0D0D;
        min-height: 400px;
        position: relative;
    }

    .more-cars {
        &__carousel {
            z-index: 3;
            position: absolute;
            left: 60%;
            top: -150px;
            transform: translateX(-50%);
            display: flex;
            background-color: #151515;
            padding: 30px;

            
        .carousel-item {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
        }
    }

    .offer {
        &__image {
            mask-image: linear-gradient(to left, transparent 0%, black 100%);
        }

        &__content {
            margin: 0 400px 0 50px;

            .description {
                width: 550px;
            }
        }

        &__dashes {
            margin-left: 50px;
            margin-top: 100px;

            .dash {
                width: 30px;
                height: 2px;
                background-color:#DE0E0B;
                margin-top: 30px;
            }
        }
    }

    .contact {
        &__call-us {
            padding: 200px 0;

            .description {
                line-height: 1.5rem;
                margin-top: 20px;
                margin-bottom: 40px;
                width: 300px;
            }
        }

        &__car {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            mask-image: linear-gradient(to right, transparent 0%, black 100%);
        }

        &__form {
            position: absolute;
            top: 70px;
            right: 375px;
            background-color: #151515;
            padding: 100px;
            width: 615px;

            .label {
                margin-top: 0;
                margin-bottom: 40px;;
            }

            form {
                display: flex;
                flex-direction: column;

                input, textarea {
                    border: none;
                    padding: 15px 20px;
                    margin-bottom: 30px;
                    font-size: 1.25rem;
                }

                textarea {
                    margin-bottom: 0;
                }

                button {
                    margin-top: 30px;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }
    }
}

.footer {
    padding: 50px 0 30px 415px;

    &__social-media {
        a {
            margin-right: 70px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.label {
    font-size: .875rem;
    text-transform: uppercase;
    position: relative;
    margin-top: 100px;
    width: fit-content;

    &--yellow {
        color: #FFCF00;
        text-shadow: 1px 0px 0px #FFCF00;

        &::before {
            background-color: #FFCF00;
        }
    }

    &--red {
        color: #DE0E0B;
        text-shadow: 1px 0px 0px #DE0E0B;

        &::before {
            background-color: #DE0E0B;
        }
    }

    &--white {
        color: #ffffff;
        text-shadow: 1px 0px 0px #ffffff;

        &::before {
            background-color: #ffffff;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 65px;
        height: 1px;
    }
}

.title {
    font-size: 3.5rem;
    margin-top: 40px;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    line-height: 3rem;
}

.description {
    margin-top: 40px;
    line-height: 2.25rem;
    font-size: .875rem;
    opacity: .7;

    &__show-more {
        color: #FFCF00;
        margin-top: 47px;
        text-shadow: 0px 3px 6px #00000029;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -122px;
            width: 102px;
            height: 1px;
            transform: translateY(-50%);
            background-color: #FFCF00;
            cursor: default;
        }
    }
}

.button {
    border: none;
    padding: 17px 61px;
    color: white;
    font-family: 'Open Sans', sans-serif;

    &--red {
        background-color: #DE0E0B;
    }

    &--yellow {
        background-color: #EDC000;
    }
}

#map {
    height: 800px;
    width: 100%;
}

.container-box {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;

    .button-box {
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 50%;
        background-color: #E9BD00;
        cursor: pointer;
        margin-left: auto;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        img {
            margin-left: 5px;
        }
    }

    .contact-box {
        position: relative;
        flex-direction: column;
        display: flex;
        width: 400px;
        height: fit-content;
        margin-bottom: 30px;
        padding: 10px 0;
        background-color: #F5F5F5;
        border-radius: 10px;
        opacity: 0;
        transition: opacity .4s ease-in-out;

        &__item {
            width: 100%;
            height: 40px;
            padding: 0 0 0 10px;
            display: flex;
            align-items: center;
            color: black;

            &:hover {
                background-color: #0000001F;
                cursor: pointer;
            }

            p {
                margin-left: 10px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            right: 10px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #F5F5F5;
        }
    }
}